@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  transition: all ease 0.2s;
}

body {
  background-color: #525252;
  font-family: 'Lato', sans-serif;
}
